<section class="section">
	<div class="container">


<div id="login">
  <div class="login-card">

    <div class="card-title">
      <h1>Please Sign In</h1>
    </div>

    <div class="content">
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<%= f.input :email, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
 				 <%= f.input :password, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
       <div class="level options">
        </div>
              <%= f.submit "Log in", class:"button is-success is-medium is-fullwidth" %>
      <% end %>
    </div>
  </div>
</div>


</section>