<% content_for :header do %>
<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Vender un Platillo
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', instrument: @instrument %>
</div>